<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto.DAL.Settings1.Conexion" connectionString="Data Source=.;Initial Catalog=Renta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Proyecto.DAL.BD.Conexion" connectionString="Data Source=ALEPC;Initial Catalog=Renta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>