@{
    ViewBag.Title = "Home Page";
}
<style>
    #boton {
        background-color: rgb(0,0,0);
        color: rgb(255, 255, 255);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        border-radius: 12px;
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    #boton:hover {
        background-color: rgb(0, 148, 255);
        color: rgb(0, 0, 0);
   }
</style>
<div style="position: absolute; width: 40%; height: 40%; left: 30%; top: 25%; background-color: rgba(0, 0, 0,0.6); border-radius: 10%;">
    <br />
    <h2 style="color:white; text-align:center;"> Renta el auto que necesites!</h2>
    @using (Html.BeginForm("VerDisponibles","Vehiculo", FormMethod.Post))
    {
    <div style="position: absolute; left: 10%; top: 25%;">
        <h3 style="color:white; text-align:center; font-size: 30px;">Inicio</h3>
        <input type="date" class="form-control" id="fechaEntr" name="fechaEntr">
    </div>
        <div style="position: absolute; left: 70%; top: 25%;">
            <h3 style="color:white; text-align:center; font-size: 30px;">Fin</h3>
            <input type="date" class="form-control" id="fechaDev" name="fechaDev">
        </div>
        <div style="position: absolute; left: 42%; top: 70%;">
            <input type="submit" value="Buscar" style="" />
        </div>
    }
</div>
