@{
    ViewBag.Title = "Index";
    IEnumerable<Proyecto.GUI.Models.Vehiculo> listaVehiculos = ViewData["Vehiculos"] as IEnumerable<Proyecto.GUI.Models.Vehiculo>;
    IEnumerable<Proyecto.GUI.Models.Modelo> listaModelos = ViewData["Vehiculos"] as IEnumerable<Proyecto.GUI.Models.Modelo>;
}

<h2>Carros que puedes rentar:</h2>
<div style="position: absolute; width: 70%; left: 15%; height:100%;" class="table-bordered">
    @foreach (var carro in listaVehiculos)
    {
        <div style="float: left; position:absolute; width:33%; height:40%;" class="table-bordered">
            <p style="text-align:center;">Placa: <b>@carro.ID</b></p>
            @{
                string foto = String.Empty;
                foreach (var modelo in listaModelos)
                {
                    if (modelo.ID == carro.IDModelo)
                    {
                        foto = modelo.Imagen;
                    }
                }
            }
            <img src="@foto" style="position:absolute; width:70%; height: 80%; left:15%;" />
        </div>
    }
</div>
