#Busqueda {
    width: 50%;
    margin: 0 auto;
}

#MarcaModelo {
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    vertical-align: middle;
}

#Precio {
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    vertical-align: middle;
}

.Titulo {
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}

